.middleSquareButton{
  width: 8rem;
  height: 8rem;
  margin-bottom: 8px;
  line-height:1.4;
  letter-spacing:4px
}
.bigSquareButton{
  width: 10rem;
  height: 10rem;
  margin-bottom: 8px;
  line-height:1.4;
  letter-spacing:4px
}
.middleButtonFont{
  font-weight: bolder;
  font-size: 1.5rem;
  width: 100%;
}
.rectangleButton{
   width: 12rem;
   height: 5rem;
   letter-spacing:4px
 }
